@media screen and (min-width: 991px) {
    .grid-container {

        align-content: start;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        grid-template-columns: 1fr 1fr 1fr 25%;
        grid-template-rows: 1fr 1fr 1fr 0.5fr;

        grid-template-areas:
            "item2  item2 item1 item1"
            "item3  item5 item5 item7"
            "item4  item8 item8 item7"
            "item6  item9 item10 item10"
            /* "item6  item6 item7 item7"
            "item8  item8 item7 item7"
            "item9  item9 item9 item9"
            "item10 item10 item10 item10" */
        ;
    }

    .item1{
        padding-block: 0;
    }

    .item1 h2 {
        font-family: Arvo, sans-serif;
        font-size: 48px;
        line-height: 60px;
        font-weight: 400;
        max-width: 550px;
    }

}